<%= f.fields_for :biblio do |builder| %>
  <div class="field">
		<div class="label">
    	<%= builder.label :title, "Main Title", :class => "mandatory" %>
		</div>
		<div class="input">
    	<%= builder.text_field :title %>
		</div>
  </div>
  <div class="field">
		<div class="label">
    	<%= builder.label :description, "General Description", :class => "optional" %>
		</div>
		<div class="input">
    	<%= builder.text_area :description %>
		</div>
  </div>
<% end %>