<div class="notice_header">
	<div id="preview">
		<%= image_tag "generic.png", :class => "preview" %>
	</div>
	<div id="infos">
		<h2><%= notice.biblio.title %></h2>
		<p><%= notice.biblio.description %></p>

<!-- 		
		<table class="header_status">
			<tr class="header_status">
				<td class="status_label">ID :</td>
				<td class="status_value"><%= notice.id %></td>
			</tr>
			<tr>
				<td class="status_label">DSL ID :</td>
				<td class="status_value"><%= notice.id %></td>
			</tr>
			<tr>
				<td class="status_label">Status :</td></td>
				<td class="status_value">Status</td>
			</tr>
		</table>
-->
		
	</div>
</div>
